.hero {
  height: calc(100vh - 70px);
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 80%);
}

.favorite-notification {
  position: absolute;
  bottom: 0;
  right: -12px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  transform: translateY(-50%);
}
